@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
	font-family: 'Lato', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
ul li{
	list-style: none;
}
img{
	max-width: 100%;
}
input, button{
	outline: none;
}
:foocus {
	outline: 0;
	border: 1px solid #1514fa !important;
}
.container {
	width: 1100px;
	margin: auto;

}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.col {
    width: 33.33%;
    flex: 0 0 auto;
    padding: 15px;
}
h2{color: #333366;font-size: 40px;font-weight: 500;}
h3{}
p{}
/********** Heder ***********/
header {
	background: #f6f9f9;
	padding: 25px 0;
}
header .flex {
    align-items: center;
}
.logo {width: 20%;flex: 0 0 auto;}
.logo a{}
.logo a img{}
nav {
    width: 80%;
    flex: 0 0 auto;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
    color: #333366;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding: 15px 25px;
    transition-duration: 0.4s;
    position: relative;
}
nav ul li a:hover{
    color: #15a4fa;
}
nav ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #15a4fa;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: 0.4s;
}
nav ul li a:hover::after{
    transform: scaleX(1);
}
/********** Banner ***********/
.banner-section {
    position: relative;
    height: 800px;
    z-index: 5;
}
.banner-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    text-align: center;
}
.banner-content h1{
    font-size: 120px;
    color: #fff;
    font-weight: 700;
}
.banner-content span{
    display: block;
    height: 2px;
    width: 100%;
    background: #15a4fa;
    margin: 30px 0;
}
.banner-content p{
    color: #fff;
}
.btn {
    color: #fff;
    font-size: 18px;
    border: 1px solid #15a4fa;
    display: inline-block;
    padding: 15px 37px;
    border-radius: 5px;
    margin-top: 65px;
    transition-duration: 0.3s;
}
.btn:hover{
	background: #15a4fa;
}
.arrow{
    position: absolute;
    bottom: 100px;
    left: 50%;
    color: #fff;
    font-size: 24px;
    transform: translateX(-50%);
}

/********** About ***********/
.about-section {
    background: #f6f9f9;
    padding: 80px 0;
    text-align: center;
}
.about-section p{
    font-size: 20px;
    color: #999;
    margin-top: 25px;
    line-height: 1.7;
}
/********** Features ***********/
.features-section {
    padding: 20px 0;
}
.feature {
    padding: 30px;
    text-align: center;
}
.feature span{}
.feature span{
    height: 100px;
    width: 100px;
    display: inline-block;
    line-height: 100px;
    font-size: 45px;
    color: #fff;
    border-radius: 5px;
    background: rgb(72,186,255);
    background: linear-gradient(90deg, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%);
    margin-bottom: 15px;
    text-shadow: 0 2px 4px #333;
}
.feature span i{}
.feature h3{
    font-size: 22px;
    color: #333366;
}
.feature p{
    font-size: 15px;
    color: #999;
    line-height: 1.7;
    margin: 20px 0;
}
/********** Showcase ***********/
.showcase-section {
    text-align: center;
    padding: 80px 0;
    background: #f6f9f9;
}
.showcase-section p{
	margin-bottom: 70px;
	color: #999;
}
.showcase {
    position: relative;
}
.showcase img{
    width: 100%;
}
.showcase .overlay{
    background: rgb(21 164 250 / 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    transition-duration: 0.4s;
}
.showcase:hover .overlay{
	width: 100%;
	height: 100%;
}
.showcase ul {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
    display: flex;
    flex-wrap: wrap;
    transition-duration: 0.4s;
    opacity: 0;
    visibility: hidden;
}
.showcase:hover ul {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    visibility: visible;
}
.showcase ul li {}
.showcase ul li a{
    font-size: 15px;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    border-radius: 3px;
    margin: 3px;
}
.showcase ul li a:hover{}
/********** Contact ***********/
.contact-section {
    background-image: url(../images/contact-bg.jpg);
    padding: 75px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(219 28% 25% / 0.9);
    z-index: 1;
}
.contact-form {
    z-index: 2;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
.contact-form h2{
    color: #fff;
}
.contact-form p{
    color: #999;
    margin-bottom: 35px;
}
.contact-form form{}
.contact-form form input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #999;
    background: transparent;
    margin-bottom: 15px;
    color: #fff;
}
.contact-form form input:focus, .contact-form form textarea:focus {
    outline-offset: 0;
    border: 1px solid #15a4fa !important;
}
.contact-form form textarea{
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #999;
    background: transparent;
    margin-bottom: 15px;
    outline: none;
}
.contact-form form ul {
    display: flex;
    justify-content: space-between;
}
.contact-form form ul li {}
.contact-form form ul li input{
    width: auto;
}
.contact-form form ul li label{
    font-size: 15px;
    color: #fff;
    margin-left: 15px;
}
.contact-form form ul li input[type="submit"]{
    color: #fff;
    font-size: 18px;
    border: 1px solid #15a4fa;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    transition-duration: 0.3s;
}
.contact-form form ul li input[type="submit"]:hover{
	background: #15a4fa;
}
/********** Footer ***********/
footer {
	padding: 20px 0;
}
footer .flex{
	justify-content: space-between;
	align-items: center;
}
.copyright {}
.copyright p{
	color: #999;
}

.social {

}
.social ul {
	display: flex;
	flex-wrap: wrap;
}
.social ul li {}
.social ul li a {
	font-size: 15px;
    background: #15a4fa;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    margin: 3px;
    color: #fff;
    text-align: center;
    transition-duration: 0.3s;
}
.social ul li a:hover{
	background: transparent;
	color: #15a4fa;
}

a.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #15a4fa;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 3;
}


